{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}

  <h2><div class="alert alert-success">
   Votre article à bien été supprimé
</div>  </h2>

	<p>
	 <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
	</p>


{% endblock %}